<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
   
  </div>


  <div class="container-fluid mt--7">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <h1>User Details</h1>
            <div>
                <div>
                    <label style="margin-bottom: 10px;">First Name:</label>{{ profileForm.value.firstName }}
                   
                  </div>
              <div>
                <label>Last Name:</label>{{ profileForm.value.lastName }}
              
              </div>
              <div>
                <label>Email:</label>{{ profileForm.value.email }}
               
              </div>
              <div>
                <label>PhoneNumber:</label>{{ profileForm.value.phoneNumber }}
               
              </div>
              <div>
                <label>Email:</label>{{ profileForm.value.email }}
               
              </div>
              <div>
                <label>Address Lane 1:</label>{{ profileForm.value.addressLane1 }}
            
              </div>
              <div>
                <label>Address Lane 2:</label>{{ profileForm.value.addressLane2 }}
               
              </div>
              <div>
                <label>City:</label>{{ profileForm.value.city }}
             
              </div>
              <div>
                <label>Country:</label>{{ profileForm.value.country }}
            
              </div>
              <div>
                <label>State:</label>{{ profileForm.value.state }}
           
              </div>
              <div>
                <label>Zip Code:</label>{{ profileForm.value.zipCode }}
            
              </div>
              <div>
                <label>Already Graduated:</label>{{ profileForm.value.alreadyGraduated ? 'Yes' : 'No' }}
             
              </div>
              <div>
                <label>Current Program:</label>{{ profileForm.value.currentProgram }}
              
              </div>
              <div>
                <label>University Name:</label>{{ profileForm.value.universityName }}
              
              </div>
              <div>
                <label>Other University Name:</label>{{ profileForm.value.otherUniversityName }}
             
              </div>
              <div>
                <label>Interested in Internship:</label>{{ profileForm.value.interestedInInternship ? 'Yes' : 'No' }}
               
              </div>
              <div>
                <label>Graduating Year:</label>{{ profileForm.value.graduatingYear }}
             
              </div>
              <div>
                <label>School Email:</label>{{ profileForm.value.schoolEmail }}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
 