<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
   
  </div>



<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">User PhoneNumber</th>
                <th scope="col">User Verified</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="users.length > 0; else noDataMessage">
              <tr *ngFor="let users of users; let i = index">
                <th>#{{ users.id }}</th>
                <td>{{ users.firstName }}</td>
                <td>{{ users.email }}</td>
                <td>{{ users.phoneNumber }}</td>
                <td>{{ users.isVerified }}</td>
      

                <td>
                  <!-- Edit Button with Argon Edit Icon -->
                  <button [routerLink]="['/edituser', users.id]" class="btn btn-icon btn-primary btn-sm" type="button">
                    <i class="fa-solid fa-user-pen"></i>
                  </button>
                
                  <!-- Delete Button with Argon Delete Icon -->
                  <button (click)="confirmDelete(users.id)" class="btn btn-icon btn-danger btn-sm" type="button">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <button [routerLink]="['/userdetails', users.id]" class="btn btn-icon  btn-sm" type="button">
                    <i class="fa-solid fa-eye"></i>
                  </button>
                </td>
                
              </tr>
            </tbody>
            <ng-template #noDataMessage>
              <div style="display: flex; justify-content: center; align-items: center;">
                <p>
                  No data found.
                </p>
              </div>
             
            </ng-template>
          </table>
        </div>
        <!-- Card Footer and Pagination -->
        <!-- ... -->
      </div>
    </div>
  </div>
</div>


